# Các thư viện nền tảng
cython
numpy<2.0

# Các thư viện chính
fastapi
uvicorn
python-dotenv
pymongo
google-generativeai
scikit-learn
pandas
certifi
pydantic
requests

# Thư viện lên lịch (Bị thiếu cái này nè)
APScheduler

# Surprise cài cuối cùng
scikit-surprise==1.1.3